{
    "CLIENT_ID" : "", # Consumer Key associated with the Salesforce app
    "USERNAME" : "", # username of the user associated with the app 
    "DOMAIN" : "" # eg. https://orgname.my.salesforce.com
}